---
config:
  # subnet for the containers. If you change it after running setup, first remove it with:
  # sudo docker network rm vpnjumphost
  subnet: 192.168.155.0/24
servers:
  example1:
    host: vpn.example1.com
    # Number of passwords requested by the vpn, example: password and 2factorauth
    pass: 1
    user: username
    # Options to pass to openconnect (example: --authgroup=1)
    options: ''
    # Port to forward the ssh traffic, do not repeat, 0 to disable ssh
    sshport: 44424
    # Port to of squid proxy, do not repeat, 0 to disable squid
    proxyport: 44425
    # Port of DNS server, do not repeat, 0 to disable dns
    dnsport: 44426
    # NAT traffic to the vpn tunnel so you can route traffic through the container (true/false)
    nat: true
    guestonboot: # Commands to execute in the cointainer on boot
      command1: echo "first command"
      command999: echo "Add as many commands as you need"
    guestondown: # Commands to execute in the cointainer before shutdown
      command1: echo "shutting down the container"
    hostonboot: # Commands to execute in the host on boot
      command1: echo "first command"
      command999: echo "Add as many commands as you need"
    hostondown: # Commands to execute in the host before shutdown
      command1: echo "Command after sending shutdown to container"
  example2:
    host: vpn.example2.com
    pass: 2
    user: otheruser
    options: ''
    sshport: 0
    proxyport: 44525
    dnsport: 0
    nat: false
    guestonboot:
    guestondown:
    hostonboot:
    hostondown:
