{
    "example1": {
        "host": "vpn.example1.com",
        "pass": 1,   **remove this, this is the number of passwords requested by the vpn, like password and 2 factor authentication**
        "user": "user",
        "options": "options to pass to openconnect (example: --authgroup=1)",
        "port": 2322 **remove this, port to forward the ssh traffic to for this container, do not repeat on other containers**
    },
    "example2": {
        "host": "vpn.example2.com",
        "pass": 2,
        "user": "otheruser",
        "options": "",
        "port": 2422
    }
}
